body{
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
    font-family: Poppins;
}

.a-heading{
    font-size: 2.3rem;
    color: #396CCD;
    font-weight: 300;
    text-align: center;
    margin-top: 2%;
    padding: 2%;
}

#a-content{
    font-weight: 300;
    text-align: center;
    padding: 0 2%;
    margin: 3% 0 3% 0;
    font-size: 1.1rem;
    opacity: 75%;
}

/* form section  */

.a-form {
    background-image: linear-gradient(to right, #0072B8, #00A5DF);
    padding: 2%;
    border-radius: 2rem;
    margin-bottom: 5%;
}

.a-form label{
    color: white;
    margin-top: 6%;
    font-weight: 400;
    font-size: 1.2rem;
    margin: 2% 2%;
}
.box{
    border-radius: 1.5rem;
    font-style: italic;
    color: rgba(0, 0, 0, 0.626);
}

.a-btn{
    margin-top: 4%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.a-btn button{
    background-color: #00BF63;
    color: white;
    font-weight: 500;
    padding: 1% 4%;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}

.a-btn button:hover{
    background-color: #08cb6d;
    font-size: 1.3rem;
}

/* My appointments section */

#my-appointments{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 5%;
    padding: 5% 2%;
}

.a-number{
    display: flex;
    align-items: center;
}

.a-btn-2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a-btn-2 button{

    background-color: #00BF63;
    color: white;
    font-weight: 500;
    padding: 1% 4%;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}

.a-btn-2 button:hover{
    background-color: #08cb6d;
    font-size: 1.3rem;
}

/* responsive pading for mobiles  */

@media (max-width: 580px) {
   
    .pd-mobile{
        padding: 0% 10%;
    }

    .app-hero{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .a-btn-2 button{
        margin-top: 3%;
    }
}

