/* Poppins Google font */
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* << CSS Reset */
html {
    font-size: 16px;
}

body{
    background-image: linear-gradient(to right,#0072b8,#00a5df);
    font-family: Poppins;
}

* { /* CSS Reset >> */
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
}

h1{
    margin: 2% 0 0 0;
    padding: 3%;
    color: white;
}

.p01{
    font-size: 1rem;
    color: #e7dede;
    padding:0% 3%;
}

@media (min-width: 760px){
    .p01{
        font-size: 1.2rem;
    }
}

.p02{
    font-size: 1.1rem;
    color: #01204E;
    font-weight: 400;
    font-style: italic;
}

#con-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 4%;
}

.box{
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background: #c0c0c0ba;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* font-size: 22px; */
}

.icon svg{
    height: 100%;
    fill: black;
}

.box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#000000;
    flex-direction: column;
    font-weight: 300;
}

.box .text h3{
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-decoration: underline;
}

#con-form{
    background-image: linear-gradient(to right, #0559b9, #33CC82);
    padding: 8%;
    margin: 5% 4% 5% 0%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

#con-form h2{
    color: white;
    margin-bottom: 0;
}

#con-form p{
    color: white;
}

.inputbox{
    padding: 1% 0 0 0;
}

.inputbox span{
    margin: 0 1px;
    padding: 0;
}

.inputbox input, .inputbox textarea{
    width:100%;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputbox button{
    background-color: #1da8ff;
    color: white;
    border: 2px ridge #d2d2d2; /* Added border property */
    cursor: pointer;
    padding: auto;
    margin: 3% 0;
    font-size: 18px;
}

.inputbox button:hover {
    color: #fff;
    background: #08d4fd; /* Change background on hover */
    border-color: #28a745; /* Match border color */
}