body{
    background-image: linear-gradient(to right,#0072b8,#00a5df);
}

h1{
    margin: 2% 0 0 0;
    padding: 3%;
    color: white;
    font-weight: var(--fw-semi-bold);
}

.p01{
    font-size: 1rem;
    color: #ffffff;
    padding:0% 3%;
    font-weight: var(--fw-semi-bold);
}

@media (min-width: 760px){
    .p01{
        font-size: 1.2rem;
    }
}

.p02{
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: var(--fw-medium);
}

#con-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 4%;
}

.box{
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background: #105297ba;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon svg{
    height: 100%;
    fill: rgb(255, 255, 255);
}

.box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #01204E;
    flex-direction: column;
    font-weight: 300;
}

.box .text h3{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
}

#con-form{
    background-color: #fff;
    padding: 8%;
    margin: 5% 4% 5% 0%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}

#con-form h2{
    color: #265bab;
    margin-bottom: 5px;
    font-weight: var(--fw-bold);
}

#con-form p{
    color: #265bab;
    font-weight: var(--fw-semi-bold);
    font-size: 1.2rem;
}

.inputbox{
    padding: 1% 0 0 0;
}

.inputbox span{
    margin: 0 1px;
    padding: 0;
}

.inputbox input, .inputbox textarea{
    width:100%;
    padding: 5px 10px;
    font-size: 17px;
    margin: 5px 0;
    border: none;
    border: 1px solid #696969;
    outline: none;
    resize: none;
}

.inputbox button{
    background-color: var(--clr-blue);
    color: white;
    cursor: pointer;
    padding: auto;
    margin: 3% 0;
    font-size: 18px;
}

.inputbox button:hover {
    color: #fff;
    background-color: var(--clr-dark-blue);
}

.label, .warn {
    font-weight: var(--fw-semi-bold);
}

.label {
    margin-top: 15px;
}