/* Poppins Google font */
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* << CSS Reset */
html {
    font-size: 16px;
}

body{
    background-image: linear-gradient(to right,#0072b8,#00a5df);
    font-family: Poppins;
}

* { /* CSS Reset >> */
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
}

h1{
    margin: 2% 0 0 0;
    padding: 2%;
    color: white;
}

.p01{
    font-size: 1.2rem;
    color: #e7dede;
    padding:0% 3%;
}

.p02{
    font-size: 1.1rem;
    color: #01204E;
    font-weight: 400;
    font-style: italic;
}

.box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.icon{
    min-width: 60px;
    height: 60px;
    background: #c0c0c0ba;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

svg{
    height: 100%;
    fill: black;
}

.box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#000000;
    flex-direction: column;
    font-weight: 300;
}

.box .text h3{
    font-weight: 400;
    font-size: 25px;
    color: white;
    text-decoration: underline;


}

.inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.inputbox input,
.inputbox textarea{
    width:100%;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.inputbox button{
    width: 100px;
    background: #08d4fd;
    color: #000000;
    border: 2px ridge #d2d2d2; /* Added border property */
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
    border-radius: 5%;
}

.inputbox button:hover {
    color: #fff;
    background-color: #0072b8; /* Change background on hover */
    border-color: #28a745; /* Match border color */
}