body{
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
}

.r-hero-1{
    font-family: Poppins;
    text-align: center;
    margin: 3%;
    padding: 2%;
}

.r-title{
    margin-bottom: 2%;
    color: #396CCD;
}

.r-title span{
    color: #00BF63;
    font-weight: 500;
}

.r-hero-1 p{
    padding: 0 5%;
    font-weight: 500;
    font-size: 1.2rem;

}

.r-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.no-padding{

    padding: 0;
    margin: auto;
}

/* form section  */

.r-form{
    background-color: rgb(255, 255, 255);
    border-radius: 2.5rem;
}

#r-signup{
    padding: 2% 3%;
    font-family: Poppins;
}

#r-signup h3{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0;
    color: #396CCD;
    font-weight: 500 ;
}

#r-signup p{
    text-align: center;
    font-weight: 500;
    opacity: 50%;
}

.form-control{
    margin-bottom: 0;
    padding-bottom: 0;
}

#r-signup ::placeholder{
    font-style: italic;
    opacity: 70%;
    font-weight: 400;
}

#r-signup label{
    font-weight: 400;
}

#r-signup .box:hover{
    border: #396CCD solid 2px;
}

/* validation  */

.form-fields{
    margin: 0;
}

small{
    margin: 0;
    padding: 0% 2%;
}

.form-fields.error small{
    color: red;
    opacity: 70%;
    font-family:  Calibri;
}

.form-fields.error input{
    border: 2px solid  #FFA27F;
    
}

/* .form-fields.success small{
    color: green;
    opacity: 70%;
    font-family:  Calibri;
} */

.form-fields.success input{
    border: 2px solid #2ecc71;  
}