body{
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
}

#acc-row{
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.acc-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2% 0;
}
.acc-separator hr {
    flex: 1;
    border: none;
    height: 1px;
    background: black;
}
.acc-separator span {
    padding: 0 10px;
    color: #999;
}



.acc-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#acc-form{
    padding: 15% 5% 8% 10%;
    margin: 0%;
}

.acc-form-label{
    margin-top: 2%;
}

#acc-form h2{
    font-size: 2.2rem;
}

#acc-form h3{
    margin-bottom: 10%;
    font-size: 1.2rem;
    opacity: 85%;
}

#acc-btn{
    margin-top: 5%;
}