body{
    background-color: aqua; margin: 0;
    padding: 0;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), Gradienturl('../img/hallway-5979689_1920.jpg') no-repeat center center; Image */
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
    background-size: cover;
}


.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid #cacaca;
    border-radius: 5px;
}

.field input:focus{
    border-bottom-width: 2px ;
}


.input-field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.input-field button:hover{
    background-color: #0171d3;
}


.form-link{
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232823;
}

.form a{
    color: #0171d3;
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

