/* << Header */
.hero {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 2.4rem 2.4rem 0 2.4rem;
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);

}

.hero .left-side {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hero .left-side h1 {
    color: #5e89d5;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.4;
}

.hero .left-side p {
    color: rgba(0, 0, 0, 0.758);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    margin: 2.2rem 0;
}

.hero .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero .right-side .hotline {
    color: #5e89d5;
    font-size: 2rem;
    font-weight: 400;
}

.hero .right-side img {
    height: 360px;
}
/* Header >> */


/* << Channel-Your-Doctor Banner */
.channel-doctor-banner {
    background-color: #c6f1dc;
    background-image: url('../img/bg-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191a1a98;
    width: 100%;
    height: 100%;
}

.channel-doctor-banner h2 {
    font-weight: 500;
    color: #33cc82;
    margin-bottom: 1rem;
}
/* Channel-Your-Doctor Banner >> */


/* << Banner Ads */
.banner-ads {
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
    padding: 2.5rem 0;
}
/* Banner Ads >> */


/* << Ad download-app */
.ad-download-app {
    background-image: linear-gradient(to right, #6790e1, #3266c0);
    color: #fff;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 1.2rem 0;
}

.ad-download-app-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ad-download-app h5 {
    font-size: 1.5rem;
    font-weight: 600;
}

.ad-download-app-row span {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1rem;
}

.ad-download-app-row button {
    color: #37376b;
    margin-left: 1rem;
}

.ad-download-app-row button:hover {
    color: #ffffff;
}
/* Ad download-app >> */


/* << Sector */
.sector {
    padding: 1rem 2.4rem 2rem 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sector-title {
    font-weight: 600px;
    font-size: 2.4rem;
    margin: 2rem auto;
}
/* Sector >> */


/* << Specialists */
.spe {
    background-color: #ddeaef;
}

.spe .sector-title{
    color: rgb(53, 76, 100);
}

.spe-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.4rem 1.4rem;
}

.spe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem 1.4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: #354c64;
    height: 350px;
}

.spe-card-img {
    width: 8rem;
}

.spe-card-title {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 1rem auto;
}

.spe-card-desc {
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
}

.spe-card.final-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spe-more-text {
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0.6rem;
}

.spe-more-icon {
    width: 40px;
}
/* Specialists >> */


/* << Services */
.ser {
    background-color: #b9e0cc;
}

.ser .sector-title {
    color: rgb(38, 98, 48);
}

.ser-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.4rem 1.4rem;
}

.ser-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 1.2rem 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    color: #356441;
    height: 120px;
}

.ser-card-img {
    width: 5.5rem;
}

.ser-card-title {
    font-weight: 400;
    font-size: 1.1rem;
    margin: 1rem 0.5rem;
}

.ser-card.final-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ser-more-text {
    font-weight: 500;
    font-size: 1.4rem;
    margin: 0.4rem;
}

.ser-more-icon {
    width: 2rem;
}
/* Services >> */


/* << facilities */
.fac {
    background-color: #fcfcfc;
}

.fac .sector-title {
    color: rgb(63, 64, 63);
}

.fac-description {
    text-align: left;
    font-weight: 300;
    font-size: 1.2rem;
}

.fac-stripe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 0.2rem;
    margin: 1.4rem 0;
}

.fac-box {
    background-color: #b7ebea;
    color: #16414a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.fac-box-num {
    font-size: 2.1rem;
    font-weight: 600;
}

.fac-box-text {
    font-size: 1.1rem;
    font-weight: 400;
}
/* facilities >> */


/* << Join-us */
.join-us {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 3rem 2.4rem;
    background-color: #efe9f1;
}

.join-us h4 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #202020;
}

.join-us p {
    font-size: 1.1rem;
    font-weight: 300;
    color: #202020;
}
/* Join-us >> */


/* << Media Queries */
@media only screen and (min-width: 576px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}
/* Media Queries >> */


/* << custom buttons */
.ex-btn {
    color: #ffffff;
    width: fit-content;
    font-size: 18px;
    font-weight: 400;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.ex-btn.green {
    background-color: #33cc82;
}

.ex-btn.blue {
    background-color: #5e89d5;
}

.ex-btn.purple {
    background-color: #7f4491;
}

.ex-btn.white {
    background-color: #ffffff;
}

.ex-btn.green:hover {
    background-color: #2fae70;
}

.ex-btn.blue:hover {
    background-color: #567ab9;
}

.ex-btn.purple:hover {
    background-color: #693c76;
}

.ex-btn.white:hover {
    background-color: #292828;
}
/* custom buttons >> */