/* << custom buttons */

.ex-btn {
    width: fit-content;
    padding: 0.3rem 0.6rem;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    margin: 0.6rem auto;
}

.ex-btn.green {
    background-color: #33cc82;
}

.ex-btn.blue {
    background-color: #5e89d5;
}

.ex-btn.green:hover {
    background-color: #2fae70;
}

.ex-btn.blue:hover {
    background-color: #567ab9;
}

/* custom buttons >> */


/* << Homepage */

.hero {
    background-image: linear-gradient(to right, #f3fff5, #e4eeff);
}

.hero .left-side h1 {
    color: #5e89d5;
    font-weight: 600;
    line-height: 1.4;
}

.hero .left-side p {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.758);
    line-height: 1.6;
    text-align: justify;
}

.hero .right-side .hotline {
    color: #5e89d5;
    font-weight: 400;
}

.hero .right-side img {
    height: 360px;
}

.channel-doctor-stripe {
    background-color: #c6f1dc;
}

.channel-doctor-stripe h2 {
    font-weight: 500;
    color: #33cc82;
}

/* Homepage >>*/