footer{
    margin: 0;
    padding: 2%;
    background-color: #565759;
    color: white;
    font-family: Calibri;

}

.f-logo{
    margin: 1%;
    width: 150px;
    height: 150px;
    float:left
}

.f-description{
    margin-right: 2%;
    padding-right: 6%;
 
}

.f-social-media{
    text-align: center;
    align-items: center;
}

svg{
    width: 30px;
    margin: 2%;
    fill: white;
    vertical-align: middle; 
}

.f-icons a{
    text-decoration: none;
}

hr{
    background-color: wheat;
    border: solid;
    margin: 1% 5%;
}
