footer{
    margin: 0;
    padding: 2% 2% 0% 2%;
    background-color: #565759;
    color: white;
    font-family:  Calibri, Poppins;

}

.f-logo{
    margin: 0 3% 1% 0;
    width: 150px;
    height: 150px;
    float:left;
    /* position: absol; */
}

@media (max-width: 750px){
    .f-logo{
        width: 100px;
        height: 100px;
    }
}

.f-logo svg{
    width: 100%;
    height: 100%;
}

.f-description{
    margin-right: 2%;
    padding-right: 6%;
    text-indent: 1rem;
}

.f-description::first-letter{
    font-size: 1.3rem;
}

.f-social-media{
    text-align: center;
    align-items: center;
}

svg{
    width: 30px;
    margin: 2%;
    fill: white;
    vertical-align: middle; 
}

.f-icons a{
    text-decoration: none;
}

hr{
    background-color: wheat;
    border: solid;
    margin: 1% 5%;
}

.row h4{
    font-weight: 500;
    text-decoration: underline;
    color: white;
}

p highlight{
    font-size: 1.5rem;
    padding-top: 2rem ;
    font-weight: 500;
}

p a{
    color: white;
}

h4 a{
    color: white;
}